{% extends "base.html" %}

{% block title %}Todo Admin List{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" type="text/css" href="/static/css/buttons.dataTables.min.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/select.dataTables.min.css"> 
{% endblock %}

{% block content %}

<div class="app-title">
	<div>
		<h1>
			<i class="fa fa-th-list"></i> todo admin list
		</h1>
		<p>todo admin list</p>
	</div>
	<ul class="app-breadcrumb breadcrumb side">
		<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
		<li class="breadcrumb-item">todo admin list</li>
	</ul>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<div class="tile-body">
				<h3 class="tile-title">전체 Todo List</h3>
			</div>
			
			<div class="tile-body">
				<form class="form-horizontal">
					<div class="form-group row">
						<div class="col-md-4">
							<select class="form-control" id="email_list">
								<option value="">== email ==</option>
								
							</select>
						</div>
						
						<div class="col-md-2">
							<select class="form-control" id="priority_sel">
								<option value="">priority</option>
								<option value="1">1</option>
								<option value="2">2</option>
								<option value="3">3</option>
							</select>
						</div>
						
						<div class="col-md-2">
							<select class="form-control" id="done_sel">
								<option value="">done</option>
								<option value="1">true</option>
								<option value="0">false</option>
							</select>
						</div>
						
						<div class="col-md-2">
							<select class="form-control" id="week_day_sel">
								<option value="">요일</option>
								<option value="1">일</option>
								<option value="2">월</option>
								<option value="3">화</option>
								<option value="4">수</option>
								<option value="5">목</option>
								<option value="6">금</option>
								<option value="7">토</option>
								
							</select>
						</div>
						
                	</div>
                
                
              	</form>
			</div>
			
			<div class="tile-body">
				<table class="table table-hover" id="listTable" data-table-index="1">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th>email</th>
							<th>priority</th>
							<th>작업</th>
							<th>done</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
	            	
	            	
	           </div>
	            
	    </div>
	    
				
	</div>
</div>



{% endblock %}

 
{% block script %} 
<!-- Data table plugin-->
<script type="text/javascript" src="/static/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/dataTables.bootstrap.min.js"></script>

<!-- 자바스크립트 utility library(리스트, Dict 관리) -->
<script type="text/javascript" src="/static/js/lodash.min.js"></script>
     
<script  type="text/template"  id="option_list_template">
	<option value="" >== 이메일 == </option>
	<% _.each(  data  , function( item ){ %>
		<option value="<%- item.id %>"><%- item.email %></option>
	<% }); %>
</script>
     
<script type="text/javascript">

var dataTableColumn =  [
	{ "data": "id", "visible": false, },
	{ "data": "create_time", "visible": false, },
	{ "data": "user_email", "visible": true, "orderable": false, },
	{ "data": "priority", "width": "80px", "className" : "priority"    },
    { "data": "text", "orderable": false,  "className" : "todotext"  },
    { "data": "done" },
    { "data": "user_id", "visible": false, "orderable": false, },
];
var listTable;
function initTable(){
	listTable = $('#listTable').DataTable({
		"processing": true,
		"serverSide": true,
		"ajax": {
			"url": "/rest/admintodo/tablelist/",
			"type": "GET",
			"data": function ( data ) {
				data.col_len = data.columns.length;
				data.ord_col_len = data.order.length;
				
				// search 전달
				if( $( "#done_sel" ).val() !="" ){
					var done_index = _.findIndex(dataTableColumn, {data: "done"});
					data.columns[done_index]["search"]["value"] =  $( "#done_sel" ).val();
				}
				if( $( "#priority_sel" ).val() !="" ){
					var priority_index = _.findIndex(dataTableColumn, {data: "priority"});
					data.columns[priority_index]["search"]["value"] =  $( "#priority_sel" ).val();
				}
				if( $( "#email_list" ).val() !="" ){
					var user_id_index = _.findIndex(dataTableColumn, {data: "user_id"});
					data.columns[user_id_index]["search"]["value"] =  $( "#email_list" ).val();
				}
				
				data.extra = {};
				if( $( "#week_day_sel" ).val() !="" ){
					data.extra["week_day"] =  $( "#week_day_sel" ).val();
				}
				
				
				
				return data;
	         },
	     },
		"dom": "rtip",
	     "rowId": 'id',
	     "order": [[ 1, "desc" ]],
	     "columns": dataTableColumn,
	    "DT_RowId" : "id",
	    "rowCallback": function( row, data, index ) {
	    	var priority_html = $("#priority_template").html();
	    	$('td.priority', row).html(priority_html);
	    	$('td.priority', row).find(".priority_sel").val(data["priority"]);
	    	
	    	var button_html = $("#todo_button_template").html();
	    	$('td.action', row).html(button_html);
	    },
	});
	
}

function initEmailList(){
	$.request("GET", "/rest/account/emailselectlist/", {}, function(success, httpStatus, data){
        if(!success){
            if(data["message"]){
                jQuery.confirm("Error", data["message"]);
            }
            return;
        }
        
		var template_string = $("#option_list_template").html();
		var compiled = _.template(template_string);
		var html = compiled({ data : data.data });
		$("#email_list").html( html ); 
	});
}


//// 페이지 로딩시
function initPage(){
	initEmailList(); 
	initTable();
}
initPage();


$( "#done_sel, #priority_sel, #email_list, #week_day_sel" ).change(function() {
	listTable.draw();
});



</script>
 {% endblock %}