{% extends "base.html" %}

{% block title %}Todo List{% endblock %}

{% block head %}
<!-- <link rel="stylesheet" type="text/css" href="/static/css/buttons.dataTables.min.css"> -->
<link rel="stylesheet" type="text/css" href="/static/css/select.dataTables.min.css"> 
{% endblock %}

{% block content %}

<div class="app-title">
	<div>
		<h1>
			<i class="fa fa-th-list"></i> todo list
		</h1>
		<p>todo list</p>
	</div>
	<ul class="app-breadcrumb breadcrumb side">
		<li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
		<li class="breadcrumb-item">todo list</li>
	</ul>
</div>


<div class="row">
	<div class="col-md-12">
		<div class="tile">
			<div class="tile-body">
				<form class="form-horizontal" id="todoForm1">
					<div class="form-group row">
						<div class="col-md-2 col-sm-2">
						</div>
						<div class="col-md-3 col-sm-3 col-3">
							<button class="btn btn-warning" type="button">Save</button>
						</div>
						<div class="col-md-3 col-sm-3 col-4">
							<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                				<button class="btn btn-primary" type="button">Export</button>
                				<div class="btn-group" role="group">
                  					<button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
	                  				<div class="dropdown-menu dropdown-menu-right">
	                  					<button class="dropdown-item">Excel</button>
	                  					<button class="dropdown-item">CSV</button>
	                  					<button class="dropdown-item">JSON</button>
	                  				</div>
              					</div>
              				</div>
						</div>
						
						<div class="col-md-3 col-sm-3 col-4">
							<div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                				<button class="btn btn-primary" type="button">Import</button>
                				<div class="btn-group" role="group">
                  					<button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
	                  				<div class="dropdown-menu dropdown-menu-right">
	                  					<button class="dropdown-item">Excel</button>
	                  					<button class="dropdown-item">CSV</button>
	                  					<button class="dropdown-item">JSON</button>
	                  				</div>
              					</div>
              				</div>
						</div>
						
					</div>
				</form>
				<br/>
				
				<form class="form-horizontal" id="todoForm">
					<div class="form-group row">
						<div class="col-md-2">
							<button class="btn btn-primary btn-outline-primary icon-btn"  type="submit"><i class="fa fa-plus"></i>Add</button>
						</div>
						<div class="col-md-10">
							<input class="form-control" type="text"  name="text" required placeholder="할 일을 입력하세요.">
						</div>
                	</div>
                </form>
				
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-6">
		<div class="tile">
			<h3 class="tile-title">할 일</h3>
	            <div class="tile-body">
	            	<table class="table table-hover" id="listTableTodo" data-table-index="1">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th>작업</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
	            	
	            	
	            </div>
	            
	    </div>
	</div>
	
	<div class="col-md-6">
		<div class="tile">
			<h3 class="tile-title">완료된 할 일</h3>
	            <div class="tile-body">
	            	<table class="table table-hover" id="listTableDone" data-table-index="2">
					<thead>
						<tr>
							<th></th>
							<th></th>
							<th></th>
							<th>작업</th>
							<th></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						
					</tbody>
				</table>
	            	
	            	
	            </div>
	            
	    </div>
	</div>
</div>








{% endblock %}

 
{% block script %} 
<!-- Data table plugin-->
<script type="text/javascript" src="/static/js/plugins/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/static/js/plugins/dataTables.bootstrap.min.js"></script>


<!--  체크박스 구현기능 -->
<!-- <script type="text/javascript" src="/static/js/plugins/dataTables.select.min.js"></script>  -->


<!--  우선순위 옵션 -->
<script id="priority_template"  type="text/template"> 
<select class="form-control priority_sel" onchange="priorityChange(event);">
	<option value="3">높음</option>
	<option value="2">보통</option>
	<option value="1">낮음</option>
</select>
</script>


<!--  화면이 좁아서 아래 화살표형 버튼 구현 -->
<script id="todo_button_template"  type="text/template"> 
<div class="btn-group" role="group">
	<button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
	<div class="dropdown-menu dropdown-menu-right">
		<button class="dropdown-item" onclick="doneItem(event, 1);">Done</button>
		<button class="dropdown-item" onclick="delItem(event, 1);">삭제</button>
	</div>
</div>
</script>

<!--  화면이 좁아서 아래 화살표형 버튼 구현 -->
<script id="done_button_template"  type="text/template"> 
<div class="btn-group" role="group">
	<button class="btn btn-primary dropdown-toggle" id="btnGroupDrop1" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
	<div class="dropdown-menu dropdown-menu-right">
		<button class="dropdown-item" onclick="todoItem(event, 2);">Todo</button>
		<button class="dropdown-item" onclick="delItem(event, 2);">삭제</button>
	</div>
</div>
</script>
      
<script type="text/javascript">
var id_index = 4294967296; // 2**32


$( "#todoForm" ).submit(function( event ) {
	event.preventDefault();
	var param = $("#todoForm [name]").getParam();
	this.reset();
	// listTableTodo,  listTableDone
	listTableTodo.row.add({
		id : id_index, priority : "2", text : param["text"], create_time : Date.now(), done : 0
	}).draw( false );
	id_index += 1;
});

function delItem(event, tableType ){
	// listTableTodo, listTableDone
	var dataTableList = {1 : listTableTodo, 2:  listTableDone}[tableType];
	
	// datatable.js 테이블의 row 를 삭제한다.  
	dataTableList.row( $(event.target).parents("tr") ).remove().draw();
}

function doneItem(event, tableType ){
	// todo 테이블의 row 를 데이터를 가져와서 done 테이블에 넣어준다. 
	var rowData = listTableTodo.row( $(event.target).parents("tr") ).data();
	rowData["done"] = 1;
	listTableDone.row.add(rowData).draw( false );
	
	// todo 테이블의 row 삭제
	listTableTodo.row( $(event.target).parents("tr") ).remove().draw();
}

function todoItem(event, tableType ){
	// done 테이블의 row 를 데이터를 가져와서 todo 테이블에 넣어준다. 
	var rowData = listTableDone.row( $(event.target).parents("tr") ).data();
	rowData["done"] = 0;
	listTableTodo.row.add(rowData).draw( false );
	
	// done 테이블의 row 삭제
	listTableDone.row( $(event.target).parents("tr") ).remove().draw();
}

function priorityChange(event, tableType){
	var tableType = parseInt($(event.target).parents("table").data("table-index"));
	var dataTableList = {1 : listTableTodo, 2:  listTableDone}[tableType];
	var rowData = dataTableList.row( $(event.target).parents("tr") ).data();
	rowData["priority"] =  parseInt($(event.target).val());
	dataTableList.row( $(event.target).parents("tr") ).data(rowData).draw();
}

var dataTableColumn =  [
	{ "data": "id", "visible": false, },
	{ "data": "create_time", "visible": false, },
	{ "data": "priority", "width": "80px", "orderable": false, "className" : "priority"    },
    { "data": "text", "orderable": false,  "className" : "todotext"  },
    { "data": "done", "visible": false, },
    { "data": "id", "className" : "action" , "orderable": false, },
];

var listTableTodo = $('#listTableTodo').DataTable({
	"processing": true,
	"serverSide": false,
	"dom": "rtip",
	
	/*"ajax": {
		"url": "/rest/account/tablelist",
		"type": "GET",
		"data": function ( data ) {
			data.col_len = data.columns.length;
			data.ord_col_len = data.order.length;
			return data;
         },
     },
    */
     "rowId": 'id',
     "order": [[ 0, "desc" ]],
     "columns": dataTableColumn,
    "DT_RowId" : "id",
    "rowCallback": function( row, data, index ) {
    	var priority_html = $("#priority_template").html();
    	$('td.priority', row).html(priority_html);
    	$('td.priority', row).find(".priority_sel").val(data["priority"]);
    	
    	var button_html = $("#todo_button_template").html();
    	$('td.action', row).html(button_html);
    },
});


var listTableDone = $('#listTableDone').DataTable({
	"processing": true,
	"serverSide": false,
	"dom": "rtip",
	
/*	"ajax": {
		"url": "/rest/account/tablelist",
		"type": "GET",
		"data": function ( data ) {
			data.col_len = data.columns.length;
			data.ord_col_len = data.order.length;
			return data;
         },
     },
*/
	"rowId": 'id',
    "order": [[ 0, "desc" ]],
    "columns":dataTableColumn,
   "DT_RowId" : "id",
   "rowCallback": function( row, data, index ) {
	    var priority_html = $("#priority_template").html();
	   	$('td.priority', row).html(priority_html);
   		$('td.priority', row).find(".priority_sel").val(data["priority"]);
   	
   		var button_html = $("#done_button_template").html();
   		$('td.action', row).html(button_html);
   },
});

</script>
 {% endblock %}